#heading img {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  border: 7px solid black;
  z-index: 2;
  position: absolute;
}
#heading {
  position: fixed;
  display: grid;
}
#heading #links {
  font-size: 2vh;
  height: fit-content;
  width: 70vw;
  color: lightblue;
  background-color: black;
  background-clip: content-box;
  z-index: 1;
  position: absolute;
  margin-left: 6vmin;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: lightblue;
}
#heading #text {
  margin-left: 6vmin;
}
