#centerLine {
  border-left: 5px solid black;
}

#projects .project {
  width: 36vw;
  height: 35.5vh;
  background-color: white;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  display: grid;
  grid-template-columns: 20vw 1.1vw 14.9vw;
  grid-template-rows: 2vh 1.2vh 2fr;
  border: 0.2vw solid black;
  font-size: 1.1vmax;
}
#projectHeader {
  margin-top: 200px;
  background-color: white;
  border: 0.5vw solid black;
  width: 33vw;
  height: 15vh;
  margin-left: 33vw;
  font-size: 6.8vw;
}

#divider {
  height: 5px;
}

.dark-mode #projects .project {
  background-color: black;
  border: 0.2vw solid blue;
  color: lightblue;
}

#projectHeader.phone {
  height: 5vh;
}

.dark-mode #projectHeader {
  background-color: black;
  border: 0.5vw solid lightblue;
  color: white;
}

.dark-mode .title {
  color: lightblue;
  background-color: black;
}

.dark-mode #centerLine {
  border-left: 5px solid lightblue;
}
#projects .project .underline {
  background-color: black;
}
.dark-mode #projects .project .underline {
  background-color: lightblue;
}
